absl-py==0.12.0
aio-pika==6.8.0
aiobotocore
aiofiles==0.7.0
aiohttp==3.7.4
aioitertools==0.7.1
aiormq==3.3.1
appdirs==1.4.3
APScheduler==3.7.0
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
atpublic==2.3
attrs==20.3.0
bidict==0.21.2
boto3==1.17.98
botocore
CacheControl==0.12.6
cachetools==4.2.2
certifi==2019.11.28
cffi==1.14.5
chardet==3.0.4
cloudpickle==1.6.0
colorama==0.4.3
colorclass==2.2.0
coloredlogs==15.0.1
colorhash==1.0.3
commonmark==0.9.1
configobj==5.0.6
contextlib2==0.6.0
cryptography==3.4.7
cycler==0.10.0
decorator==4.4.2
dictdiffer==0.8.1
diskcache==5.2.1
distlib==0.3.0
distro==1.4.0
dm-tree==0.1.6
dnspython==1.16.0
docopt==0.6.2
dpath==2.0.1
dulwich==0.20.23
dvc==2.3.0
fbmessenger==6.0.0
flatten-dict==0.4.0
flufl.lock==3.2
fsspec==2021.5.0
ftfy==6.0.3
funcy==1.16
future==0.18.2
gast==0.3.3
gitdb==4.0.7
GitPython==3.1.18
google-auth==1.32.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grandalf==0.6
grpcio==1.38.1
h11==0.9.0
h5py==2.10.0
html5lib==1.0.1
httpcore==0.11.1
httplib2==0.19.1
httptools==0.2.0
httpx==0.15.4
humanfriendly==9.2
idna==2.8
ipaddr==2.2.0
jmespath==0.10.0
joblib==1.0.1
jsonpath-ng==1.5.2
jsonpickle==2.0.0
jsonschema==3.2.0
kafka-python==2.0.2
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lockfile==0.12.2
mailchecker==4.0.9
Markdown==3.3.4
matplotlib==3.3.4
mattermostwrapper==2.2
msgpack==0.6.2
multidict==5.1.0
nanotime==0.5.2
networkx==2.5.1
numpy==1.18.5
oauth2client==4.1.3
oauthlib==3.1.1
opt-einsum==3.3.0
packaging==20.3
pamqp==2.3.0
pathspec==0.8.1
pep517==0.8.2
phonenumbers==8.12.25
Pillow==8.2.0
ply==3.11
progress==1.5
prompt-toolkit==2.0.10
protobuf==3.17.3
psutil==5.8.0
psycopg2-binary==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydot==1.4.2
pygit2==1.6.1
Pygments==2.9.0
pygtrie==2.3.2
PyJWT==2.1.0
pykwalify==1.8.0
pymongo==3.10.1
pyparsing==2.4.7
pyrsistent==0.17.3
pyTelegramBotAPI==3.7.9
python-benedict==0.24.0
python-crfsuite==0.9.7
python-dateutil==2.8.1
python-engineio==4.2.0
python-fsutil==0.5.0
python-slugify==5.0.2
python-socketio==5.3.0
pytoml==0.1.21
pytz==2021.1
PyYAML==5.4.1
questionary==1.9.0
rasa==2.7.1
rasa-sdk==2.7.0
redis==3.5.3
regex==2020.9.27
requests==2.25.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
retrying==1.3.3
rfc3986==1.5.0
rich==10.4.0
rocketchat-API==1.15.0
rsa==4.7.2
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.2
s3fs==2021.5.0
s3transfer==0.4.2
sanic==20.12.3
Sanic-Cors==0.10.0.post3
sanic-jwt==1.6.0
Sanic-Plugins-Framework==0.9.5
scikit-learn==0.24.2
scipy==1.7.0
sentry-sdk==1.1.0
shortuuid==1.0.1
shtab==1.3.6
six==1.14.0
sklearn-crfsuite==0.3.6
slackclient==2.9.3
smmap==4.0.0
sniffio==1.2.0
SQLAlchemy==1.3.24
tabulate==0.8.9
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.3.3
tensorflow-addons==0.12.1
tensorflow-estimator==2.3.0
tensorflow-hub==0.10.0
tensorflow-probability==0.11.1
tensorflow-text==2.3.0
termcolor==1.1.0
terminaltables==3.1.0
text-unidecode==1.3
threadpoolctl==2.1.0
toml==0.10.2
tqdm==4.59.0
twilio==6.50.1
typeguard==2.12.1
typing-extensions==3.10.0.0
tzlocal==2.1
ujson==4.0.2
urllib3==1.25.8
uvloop==0.14.0
voluptuous==0.12.1
wcwidth==0.2.5
webencodings==0.5.1
webexteamssdk==1.6
websockets==8.1
Werkzeug==2.0.1
wrapt==1.12.1
xmltodict==0.12.0
yarl==1.6.3
zc.lockfile==2.0
